{
    "presets":["@babel/preset-env","es2015"],
    "plugins":[
        ["@babel/transform-runtime",{
            "regenerator":true
        }
    ],
    "babel-plugin-transform-object-rest-spread"
    ]
}